#/////////////////////////////////////////////////////////////////////////////
# Cocos Creator Projects
#/////////////////////////////////////////////////////////////////////////////

library/
temp/
local/
jsb-binary/
jsb-link/
web-desktop/
native/web-mobile/
runtime/
build/web-mobile
build/jsb-default/assets
build/jsb-default/jsb-adapter
build/jsb-default/src
build/jsb-default/frameworks/cocos2d-x
native/
jsb/
export/
node_modules/
packages/


#/////////////////////////////////////////////////////////////////////////////
# native files
#/////////////////////////////////////////////////////////////////////////////

native/jsb-default/frameworks/cocos2d-x
native/jsb-default/res/import
native/jsb-default/res/raw-assets
native/jsb-default/publish
native/jsb-default/local.properties
*/backup*
*/.sdkbox_packages.json
*xcuserdata*
native/jsb-default/src/cocos2d-jsb.jsc
native/jsb-default/src/project.jsc
native/jsb-default/src/settings.jsc
native/jsb-default/js backups (useful for debugging)

#/////////////////////////////////////////////////////////////////////////////
# Logs and databases
#/////////////////////////////////////////////////////////////////////////////

*.log
*.sql
*.sqlite

#/////////////////////////////////////////////////////////////////////////////
# files for debugger
#/////////////////////////////////////////////////////////////////////////////

*.sln
*.csproj
*.pidb
*.unityproj
*.suo

#/////////////////////////////////////////////////////////////////////////////
# OS generated files
#/////////////////////////////////////////////////////////////////////////////

.DS_Store
ehthumbs.db
Thumbs.db

#/////////////////////////////////////////////////////////////////////////////
# exvim files
#/////////////////////////////////////////////////////////////////////////////

*UnityVS.meta
*.err
*.err.meta
*.exvim
*.exvim.meta
*.vimentry
*.vimentry.meta
*.vimproject
*.vimproject.meta
.vimfiles.*/
.exvim.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.bat.meta
quick_gen_project_*_autogen.sh
quick_gen_project_*_autogen.sh.meta
.exvim.app

#/////////////////////////////////////////////////////////////////////////////
# webstorm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#/////////////////////////////////////////////////////////////////////////////
# VSCode files
#/////////////////////////////////////////////////////////////////////////////

creator.d.ts
.vscode/
settings/services.json

#/////////////////////////////////////////////////////////////////////////////
# other version control
#/////////////////////////////////////////////////////////////////////////////

.svn/

packages
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/src/org/cocos2dx/javascript/SDKWrapper.java
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/res/values/strings.xml
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/res/mipmap-xxxhdpi/ic_launcher.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/res/mipmap-xxhdpi/ic_launcher.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/res/mipmap-xhdpi/ic_launcher.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/res/mipmap-mdpi/ic_launcher.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/res/mipmap-hdpi/ic_launcher.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/UpdateApkFileProvider.java
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/DownloadService.java
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/AppActivity.java
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/ApkUtils.java
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/main/res/xml/update_apk_paths.xml
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/main/res/values/styles.xml
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/main/res/layout/loader.xml
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/src/main/ic_launcher-web.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/res/mipmap/splash_bg.png
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/build.gradle
build-templates/jsb-default/frameworks/runtime-src/proj.android-studio/app/AndroidManifest.xml
